a {
  text-decoration: none;
}
header {
  display: flex !important;
  width: 100%;
  height: 150px;
  background: red;
  vertical-align: middle;
  position: fixed;
}
.head_container {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 55%;
  align-items: center;
  margin: auto;
}
#logo {
  width: 70px;
  height: 50px;
}
#nav_bar ul {
  display: flex;
  gap: 55px;
}

#first_block {
  padding-top: 150px;
  height: 600px;
  width: 100%;
  background: chartreuse;
}
.inner_text {
  text-align: center;
  display: block;
  width: 55%;
  margin: auto;
  padding-top: 10%;
}
h1 {
  font-size: 36px !important;
}
h2 {
  font-size: 32px !important;
}

#second_block {
  background: chocolate;
  width: 100%;
  height: 600px;
}
.morebtn {
  width: 100px;
  height: 60px;
  text-align: center;
  background-color: none;
  border: 2px white solid;

  &:hover {
    background-color: gray;
  }
}

#third_block {
  background: rgb(27, 32, 24);
  width: 100%;
  height: 600px;
}

#menu_bar {
  text-align: center;
  display: block;
  width: 75%;
  margin: auto;
  padding-top: 3%;

  h2 {
    position: relative;
    text-align: left;
  }
}
#menu_bar_container {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}
.menu_bar_item {
  width: 150px * 2;
  height: 250px * 1.5;
  background: green;
}
